.principaltitle {
    font-weight: bold;
}
.indexpic{
    width: 1900px;
    height: 635px;
}
br {
    display: block;
    content: "";
    border-bottom: 20px solid transparent;
}
.description1 {
    font-size: 1.2em;
}
footer {
    background-color: gray;
color: white;
    text-align: center;
}
.page1title {
    font-weight: bold;
    color: green;
}
.subtitle1 {
    font-weight: bold;
    color: green;
}
.description2 {
    font-style: italic;
    font-family: Goudy Old Style;
    text-align: justify;
    color: green;
}
.title2 {
    font-weight: bold;
    color: blue;
}
.subtitle2 {
    font-weight: bold;
    color: blue;
}
#firstp {
    font-style: italic;
    font-family: SimSun;
    color: blue;
    text-align: left;
}
#secondp {
    font-style: italic;
    font-family: SimSun;
    color: blue;
    text-align: justify;
}
.imagenfondo1{
    width: 800px;
    height: 600px;
}
.imagenfondo2{
    width: 800px;
    height: 600px;
}